<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Mis tecnologías de desarrollo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-icon name="close" class="close-icon" (click)='close()' ></ion-icon>
  <swiper-container 
  [initialSlide]="0"
  [slidesPerView]="1"
  class="content"
  >
    <swiper-slide *ngFor="let tecnologie of listTecnologies">
      <div class="title_slide ion-padding">{{tecnologie.title}}</div>
      <div class="imagenes ion-align-items-center ion-justify-content-center">
        <img  [src]="tecnologie.img"/>
      </div>
      <p class="parrafo ion-wrap">{{tecnologie.description}}</p>
    </swiper-slide>
  </swiper-container>
</ion-content>